*.swp
package-lock.json
__pycache__
.pytest_cache
.venv
*.egg-info

# CDK asset staging directory
.cdk.staging
cdk.out
# Quarto output
frontend/dashboard.html
frontend/dashboard_files/
frontend/.quarto/

# Quarto installer
*.deb
